@font-face {
    font-family: 'YekanRegular';
    src: url('fonts/YekanBakhFaNum-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'YekanBold';
    src: url('fonts/YekanBakhFaNum-Bold.ttf') format('truetype');
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    direction: rtl;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
}

h2{
    color: #212121;
    font-family: YekanBold;
}

.box{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}
.container {
    width: max-content;
    height: max-content;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.input-container > label{
    opacity: 50%;
    font-family: YekanRegular;
    font-size: 14px;
}

.input{
    outline: none;
    width: 120px;
    font-family: YekanRegular;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.input:focus{
    border: 1px solid rgba(76, 175, 80, 1.0);
}

.btn{
    border: none;
    padding: 4px 8px;
    font-family: YekanRegular;
    font-size: 14px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #ffffff;
}
.btn:hover{
    background-color: #4a914c;
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.1);
}

.options-container{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.select-container{
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: end;
}
#btn-start{
    height: 40px;
    width: 120px;;
}

.my-radio{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: YekanRegular;
    font-size: 14px;
}